[submodule "libs/libtomcrypt"]
	path = libs/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "libs/libtommath"]
	path = libs/libtommath
	url = https://github.com/libtom/libtommath.git
